.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0;
  border-radius: 10px;
  overflow: hidden;
}

.cell {
  border: 1px solid #ddd;
  background-color: white;
  min-height: 80px;
  font-size: 10px;
  padding: 4px ;
}

.header {
  border: 1px solid #ddd;

  font-weight: bold;
  text-align: center;
  background-color: white;
  padding: 10px 0;
}

.today {
  background-color: #ffe082;
  font-weight: bold;
}
